.App {
  margin: 24px;

  &.dark-mode {
    background-color: #121212;
    color: #ffffff;

    .App-header {
      background-color: #282c34;
    }

    .App-link {
      color: #61dafb;
    }
  }

  &.light-mode {
    background-color: #ffffff;
    color: #000000;

    .App-header {
      background-color: #282c34;
    }

    .App-link {
      color: #61dafb;
    }
  }
}

.theme-toggle-button {
  position: fixed;
  top: 10px;
  background: none;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.theme-toggle-button img {
  width: 100%;
  height: 100%;
}

.App-header {
  background-color: #282c34; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    height: 40vmin;
    pointer-events: none;
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
